anyio==3.6.2
asgiref==3.4.1
attrs==22.2.0
black==21.12b0
click==8.0.4
fastapi==0.70.1
greenlet==2.0.1
h11==0.13.0
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mypy-extensions==0.4.3
numpy==1.19.5
packaging==21.3
pandas==1.0.0
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pydantic==1.7.4
PyMySQL==1.0.2
pyparsing==3.0.7
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2022.7
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.46
starlette==0.16.0
toml==0.10.2
tomli==1.2.3
typing_extensions==4.1.1
uvicorn==0.15.0
